/* -------------------------------- 

Primary style

-------------------------------- */
.step{
  width: 100%;
  /*position: absolute;*/
  z-index: 1;
  margin-top:8%;
  margin-bottom: 26%;
}

.progressbar{
  counter-reset: step;
  position: relative;
  left : -4%;
}

.progressbar li{
  list-style: none;
  float: left;
  width: 20%;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.progressbar li:before{
  content:counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  border: 2px solid #bebebe;
  display: block;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  line-height: 27px;
  background: white;
  color: #bebebe;
  text-align: center;
  font-weight: bold;
}

/*.progressbar li:after{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #979797;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after{
content: none;
}*/

.progressbar li.active:before {
  border-color: white;
  background: #3aac5d;
  color : white;
} 

.progressbar li:hover:before {
  border-color: white;
  background: #3aac5d;
  color : white;
} 